.action-text-field {
    width: 400px;
    display: inline;
  }
  
  .my-container {
    padding-top: 15px;
  }
  
  .action-list {
    padding-top: 15px;
  }
  
  .list-group-item {
    display: flex;
    justify-content: space-between;
  }
  